[defaults]
# (pathlist) Comma separated list of Ansible inventory sources
inventory=hosts.yaml

# (string) Sets the login user for the target machines
# When blank it uses the connection plugin's default, normally the user currently executing Ansible.
remote_user=ubuntu

# (boolean) Set this to "False" if you want to avoid host key checking by the underlying tools Ansible uses to connect to the host
host_key_checking=False